<!DOCTYPE html>
<html>
<!-- <html manifest=static/cache.cfm> -->
<head>
	<meta name="apple-mobile-web-app-capable" content="yes">
	<meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <link rel="icon" type="image/ico" href="static/favicon.ico">
    <link rel="apple-touch-startup-image" href="static/logo.png" />
	<link rel="apple-touch-icon" href="static/logo.png">
	<title>CTC - {{ip}}</title>
	<meta charset="utf-8" />

	<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" href="static/css/leaflet.css" />



</head>
<body>
<div style="position:absolute; top:0; left:0; width:100%; height:100%; z-index:1;" id="map">

<!--[if lte IE 8]>
<link rel="stylesheet" href="http://cdn.leafletjs.com/leaflet-0.6.4/leaflet.ie.css" />
	<![endif]-->

    <script src="static/js/leaflet.js"></script>
    <!-- <script src="static/js/leaflet.js"></script> -->
	<script>


	var northEast = new L.LatLng(35.85, 51.7); 
	var southWest= new L.LatLng(35.5, 51.05);
	var restrictBounds = new L.LatLngBounds(southWest, northEast); 
        
        //var {{layer}}_url = 'http://{{ip}}:{{port}}/tiles/{{layer}}/{z}{x}{y}.png';  //encrypted mode
        {% for layer in layers %}
        var {{layer}}_url = 'http://{{ip}}:{{port}}/static/{{layer}}/{z}/{x}/{y}.png';
        var {{layer}} =  L.tileLayer({{layer}}_url, {maxZoom:20, detectRetina:true});
        {% endfor %}

	var mapOptions = { 
		minZoom:1,
		maxZoom:19,
		attributionControl:false,
		detectRetina:true,
		bounceAtZoomLimits:false,
        layers: [{{layers[0]}}]

  		//maxBounds: restrictBounds 
	}; 
		//beverlyhills
        //var map = L.map('map', mapOptions).setView([34.075, -118.4], 13);
		

    var map = L.map('map', mapOptions).setView([35.69935, 51.338], 13);
    var baseMaps = {
        {% for layer in layers %}
            '{{layer}}':{{layer}},
        {% endfor %}
        //"Satelite": sat
    };
    var overlays = {
        //"MotorWays": motorways
    };

   	L.control.layers(baseMaps, overlays).addTo(map);
	//map.locate({setView: true, maxZoom: 16});


	function onMapClick(e) {
		popup
			.setLatLng(e.latlng)
			.openOn(map);
	}
	function onLocationError(e) {
		alert(e.message);
	}

	map.on('locationerror', onLocationError);



	</script>

</div>
</body>
</html>

